<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1,div{text-align: center;}

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings Number</title>
    <h1>Bookings Number</h1>
</head>
<body>
    <div>
        Your booking number is #12345
        <br><br><br>
        <a href="/">Click here to make another reservartion</a>
    </div>

</body>
</html>