body {
    background-image: url('https://www.shutterstock.com/image-photo/sunset-height-10-000-km-dramatic-148846814');
    background-color: beige;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }